<div class="flex flex-col">
  <h1 class="">Editing product</h1>

  <%= render "form", product: @product %>

  <br>

  <div>
    <span class="trix-button"><%= link_to "Show this product", @product %></span>
    <span class="btn btn-primary"><%= link_to "Back to products", products_path %></span>
  </div>
</div>